<!DOCTYPE html>
<html>
<head>
  <h1>
    Recorridos
  </h1>
  <button><a href="/login">Login</a></button>


  
  <!--<title>Mi Mapa</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=TU_CLAVE_DE_API&callback=initMap" async defer></script>
  <script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 8
      });
    }
  </script>-->
  <div>
    Mapa de reportes
  </div>
  <div>
    <img src="/static/img/background.jpg">
  </div> 
  
</head>
<body>
  <!--<div id="map" style="height: 400px; width: 100%;"></div> -->
</body>
</html>