<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
   <div class="login-box">
    <h1>CREAR REPORTE</h1>
    <form>
        <!--ID PROYECTO-->
        <label for="id_proyecto">ID PROYECTO</label>
        <input type="text" placeholder="PYE 2023">
        <!--OT PROYECTO-->
        <label for="ot_proyecto">OT PROYECTO</label>
        <input type="text" placeholder="OT123456">
         <!--NOMBRE PROYECTO-->
         <label for="nombre_proyecto">NOMBRE DEL PROYECTO</label>
         <input type="text" placeholder="RECORRIDO ANILLO SUR">
          <!--NOMBRE DEL SUPERVISOR-->
        <label for="nombre_supervisor">NOMBRE DEL SUPERVISOR</label>
        <input type="text" placeholder="JUAN GUAPACHA">
        <!--NOMBRE ZONE OWNER-->
        <label for="nombre_zo">NOMBRE DEL ZONE OWNER</label>
        <input type="text" placeholder="PEDRO LOPEZ">
        <!--NOMBRE ALIADO-->
        <label for="nombre_aliado">NOMBRE DEL ALIADO</label>
        <input type="text" placeholder="SICTE">
        <!--FECHA INICIO DE RECORRIDO-->
        <label for="fecha_recorrido">FECHA DE RECORRIDO</label>
        <input type="date" placeholder="SELECCIONAR FECHA">
        <!--HORA DE INICIO-->
        <label for="hora_inicio">HORA DE INICIO</label>
        <input type="time" placeholder="SELECCIONAR HORA 00:00-24:00">
        <!--FECHA FIN DE RECORRIDO-->
        <label for="fecha_fin_recorrido">FECHA FIN DE RECORRIDO</label>
        <input type="date" placeholder="SELECCIONAR FECHA">
        <!--HORA DE FIN-->
        <label for="hora_fin">HORA DE FIN</label>
        <input type="time" placeholder="SELECCIONAR HORA 00:00-24:00">
        <!--DIRECCION PUNTO DE INICIO-->
        <label for="direccion_inicio">DIRECCION DE INICIO</label>
        <input type="text" placeholder="CR7 #12-100">
        <!--DIRECCION PUNTO FINAL-->
        <label for="direccion_fin">DIRECCION PUNTO FINAL</label>
        <input type="text" placeholder="CR10 # 15-12">

        <input type="submit" value="CREAR REPORTE">

    </form>
  
   </div> 
</body>
</html>