<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
   <div class="login-box">
    <h1>CREAR REPORTE</h1>
    <form>
        <!--TIPO DE RED-->
        <label for="tipo_red">TIPO DE RED</label>
        <input type="checkbox" name="tipo_red" value="HFC"> HFC
        <input type="checkbox" name="tipo_red" value="FO"> FO
          
            
        <!--COORDENADA-->
        <label for="latitud">LATITUD</label>
        <input type="text" placeholder="4.13763914">
        <label for="longitud">LONGITUD</label>
        <input type="text" placeholder="-75.16914694">
        <!--TIPO DE TRABAJO-->
        <label for="tipo_trabajo">TIPO DE TRABAJO</label>
        <input type="text" placeholder="mufla descolgada">
    
        <input type="submit" value="CREAR REPORTE">

    </form>
  
   </div> 
</body>
</html>